@font-face {
  font-family: 'AnarchyScore';
  src: url('../fonts/captureit.eot'); /* IE9 Compat Modes */
  src: url('../fonts/captureit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/captureit.woff') format('woff'), /* Modern Browsers */
       url('../fonts/captureit.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    //background: url(../images/grunge_bg.jpg);
    background: #000;
    //opacity: 0.05;
}

video#bgvid {
    min-width: 100%; max-height: 100%;
    z-index: -100;
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    //background: url(../images/grunge_bg.jpg);
    //opacity: 0.2;
    //background: rgba(0,0,0,0.7);
}

#overlay .center {
    margin: 0 auto;
    width: 50%;
    margin-top: 22%;
    text-align: center;
}
#overlay .center h1 {
    color: #fff;
    font-size: 3.5em;
    //position: absolute;
    margin: 0 auto;
    margin-top: 50px;
    //left: 40%;
    //bottom: 25%;
}


h1, h2, h3, h4, p {
    color: #fff;
    font-family: 'AnarchyScore', captureit, Serif;
    font-weight: normal;
}

#total-dist {
    margin-left: 1em;
    font-size: 4em;
    //float: right;
    margin-right: 1em;
    float: left;
}
#base-text {
    font-size:4em;
    margin: 0;
    padding: 0;
}
#secondary-text {
    font-size:5em;
    margin: 0;
    padding: 0;
}

#distance-text-left{
    position: fixed;
    bottom: 30px;
    left: 1em;
    font-size: 24px;
}

#distance-text-right{
    position: fixed;
    bottom: 30px;
    right: 1em;
    font-size: 24px;
    /*width: 6em;*/
}


#distance-bar{
  position: fixed;
  bottom: 12px;
  background: none !important;
  height: 30px;
  width: 98%;
  margin-left: 1%;
  border: 1px solid #fff;
}

#top-wrap {
    position: absolute;
    top: 0;
    width: 100%;
}

ul#icons-wrap {
    position: absolute;
    list-style: none;
    display: inline-block;
    margin-top: 3em;
    left: 37%;
}

ul#icons-wrap li {
    color: #fff;
    display: inline-block;
    font-size: 3em;
    margin-left: 0.2em;
}
 
progress[value]::-webkit-progress-value {
  background-color: #fff;
  border-color: white;
}

#total-points {
    display: block;
    position: absolute;
    right: 100px;
    top: 0;
    //float:right;
    margin: 0;
    //margin-right: 3em;
    margin-top: 1.3em;
    //margin-bottom: 0;
    font-size: 3em;
}
#name-points {
    position: absolute;
    right: 100px;
    top: 0;
    display: block;
    //float:right;
    margin: 0;
    margin-top: 2.7em;
    //margin-right: 4em;
    //margin-bottom: 0;
}