@font-face {
  font-family: 'AnarchyScore';
  src: url('../fonts/captureit.eot'); /* IE9 Compat Modes */
  src: url('../fonts/captureit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/captureit.woff') format('woff'), /* Modern Browsers */
       url('../fonts/captureit.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    background: #000;
}

h1, h2, h3, h4, p {
    color: #fff;
    font-family: 'AnarchyScore', captureit, Serif;
    font-weight: normal;
}

#overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#overlay .center {
    margin: 0 auto;
    width: 50%;
    margin-top: 22%;
    text-align: center;
}
#overlay .center h1 {
    color: #fff;
    font-size: 3.5em;
    margin: 0 auto;
    margin-top: 50px;
}


#top-wrap {
    position: absolute;
    top: 0;
    width: 100%;
}


#total-dist {
    margin-left: 1em;
    font-size: 4em;
    margin-right: 1em;
    float: left;
}
#base-text {
    font-size:4em;
    margin: 0;
    padding: 0;
}
#secondary-text {
    font-size:5em;
    margin: 0;
    padding: 0;
}

#distance-text-left{
    position: fixed;
    bottom: 0.5em;
    left: 1.5em;
    font-size: 2em;
}

#distance-text-right{
    position: fixed;
    bottom: 0.5em;
    right: 1.5em;
    font-size: 2em;
}

#distance-bar{
  position: fixed;
  bottom: 12px;
  height: 30px;
  width: 98%;
  margin-left: 1%;
  border: 1px solid #fff;
}


#bgvid {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
    margin: auto;
}

 
progress[value]::-webkit-progress-value {
  background-color: #fff;
  border-color: white;
}

#total-points {
    display: block;
    position: absolute;
    right: 1.5em;
    top: 0;
    margin: 0;
    margin-top: 1.3em;
    font-size: 3em;
}
#name-points {
    position: absolute;
    right: 3.2em;
    top: 0;
    display: block;
    margin: 0;
    margin-top: 1.8em;
    font-size: 1.5em;
}